*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  
}

/* HEADER */
header{
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  color: slategray;
}
.logo{
  display:flex;
  justify-content: space-between;
}
.header-title{
  display: flex;
  align-items: center;
  padding: 10px 0 0 10px;
}
.header-title img{
  width: 100px;
}
.user{
  display: flex;
  padding: 20px 20px 0 0;
}
.user span{
  color: white;
  background-color: green;
  border-radius: 50%;
  padding: 4px 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.user .ham-menu{
  font-size: 16px;
  color: gray;
}

.menu li{
  display: inline;
  margin: 0 25px;
  font-weight: bold;
  cursor: pointer;
}

.menu li:last-of-type{
  color: #3367d6;
  border-bottom: 3px solid #3367d6;
  padding-bottom: 8px;
}

/* MAIN */
.container{
  width: 998px;
  margin: 100px auto;
}

.container h2{
  margin: 50px 0;
  font-size: 24px;
  
}

.container ul, .container ol{
  margin: 25px;
}